{
  "$schema": "https://swc.rs/schema.json",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "baseUrl": "./src",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "paths": {
      "#/*": [
        "./*"
      ],
      "#/jest/*": [
        "./@jest/*"
      ]
    }
  }
}
