# Configure registries
@mxvincent:registry=https://npm.pkg.github.com/

# Strict node version check
engine-strict=true

# Strict pnpm version check
package-manager-strict=true

# Skip dependencies resolution when package-lock is available
prefer-frozen-lockfile=true
