{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": false,
  "jsc": {
    "loose": false,
    "baseUrl": "./src",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "paths": {
      "@charts/*": [
        "./charts/*"
      ],
      "@components/*": [
        "./components/*"
      ],
      "@plugins/*": [
        "./plugins/*"
      ],
      "@imports/*": [
        "./imports/*"
      ],
      "@helpers/*": [
        "./helpers/*"
      ]
    },
    "target": "es2020"
  }
}
