{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "baseUrl": "./src",
    "parser": {
      "syntax": "typescript"
    },
    "paths": {
      "@*": [
        "./*"
      ],
      "#jest/*": [
        "./@jest/*"
      ]
    },
    "target": "es2020"
  }
}
