{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "baseUrl": "src",
    "parser": {
      "syntax": "typescript"
    },
    "paths": {
      "@/*": [
        "./*"
      ],
      "@api/*": [
        "./api/*"
      ],
      "@core/*": [
        "./core/*"
      ],
      "@database/*": [
        "./database/*"
      ]
    },
    "target": "es2022"
  }
}
